* {
  margin: 5px;
  padding: 0;
}

form{
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  font-weight: 700;
}

input, select, button {
  width: 250px;
  margin-top: 10px;

  height: 30px;
  border: 1px solid rgb(131, 165, 165);
  border-radius: 5px;
}

button {
  font-size: 14px;
  font-weight: 500;

  background-color: rgb(85, 85, 85);
  color: #fff;

  margin-left: 10px;
}

input[type=text]{
  text-align: center;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 700;
}